<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

<body>
    <div class="container-fluid">
        <h1>Datos de usuario:</h1>
        <h4>
            <%= nomCompleto %>
        </h4>
        <img src="<%= picture %>" class="mb-3">
        <p>
            <span class="text-decoration-underline">ID</span>:
            <%= id %>
        </p>
        <p>
            <span class="text-decoration-underline">Nombre</span>:
            <%= nombre %>
        </p>
        <p>
            <span class="text-decoration-underline">Apellido</span>:
            <%= apellido %>
        </p>
        <p>
            <span class="text-decoration-underline">Idioma</span>:
            <%= language %>
        </p>
        <p>
            <span class="text-decoration-underline">Email</span>:
            <%= email %>
        </p>      
        <a class="btn btn-primary" href="/logout">Cerrar sesión</a>
    </div>
</body>

</html>